# Ignore node_modules in both frontend and backend
backend/node_modules/
frontend/node_modules/

# Ignore environment files
backend/.env
frontend/.env

# Ignore build files
**/dist/
**/build/

# Ignore OS & editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
