.card-Data-Fetch {
  position: relative;
  width: 20em;
  height: 35rem;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 120ms;
  background: linear-gradient(135deg, #e6ecf3, #d3dbe6);
  padding: 1.5em;
  margin-bottom: 20px;
  border-radius: 12px;
}

.card-Data-Fetch:hover .Cart-Button {
  bottom: 0;
  opacity: 1;
}

.Cart-Button {
  position: absolute;
  bottom: -60px;
  background: black;
  color: #fff;
  height: 2.5em;
  width: 100%;
  transition: all 0.6s ease;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.Cart-Button:hover {
  bottom: 0;
  opacity: 1;
}

.card-Data-Fetch:active {
  transform: scale(0.98);
}

.card-Data-Fetch:active .Cart-Button {
  content: "Added !";
  height: 3.125em;
}

.text {
  max-width: 55px;
}

.image {
  width: 13em;
  height: 14em;
  border-radius: 15px;
}

/* .background-color{
  background-color: #F1F6FA;
} */